; When publishing scoped packages, the access level defaults to restricted.
; If you want your scoped package to be publicly viewable (and installable)
; set --access=public. The only valid values for access are public and restricted.
; Unscoped packages always have an access level of public.
access=public

; The base URL of the npm package registry.
; Default: https://registry.npmjs.org/
; registry=https://registry.npmjs.org
registry=https://npm.pkg.github.com/cbevins

; Set a new registry for a scoped package
; By default, you can only use GitHub Packages packages from one organization.
; If you'd like to route package requests to multiple organizations and users,
; you can add additional lines to your .npmrc file, replacing OWNER
; with the name of the user or organization account that owns the repository
; containing your project.
; registry=https://npm.pkg.github.com/OWNER
; @OWNER:registry=https://npm.pkg.github.com
; @OWNER:registry=https://npm.pkg.github.com
; @cbevins:registry=https://registry.npmjs.org
@cbevins:registry=https://npm.pkg.github.com

; Associate an operation with a scope for a scoped registry.
; Useful when logging in to a private registry for the first time:
; npm login --scope=@organization --registry=registry.organization.com,
; which will cause @organization to be mapped to the registry for future
; installation of packages specified according to the pattern @organization/package.
